* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

.hide {
	display: none;
}

.show {
	display: block;
}

header {
	height: 300px;
	background: black;
	color: white;
	overflow: hidden;
	position: relative;
}

h1 {
	text-align: center;
	line-height: 300px;
	margin: 0;
}

#open-nav img, #close-nav img {
	width: 50px;
	height: 50px;
}

#open-nav {
	margin: 10px;
}

#open-nav, #close-nav {
	position: absolute;
	top: 0;
	right: 0;
}

#main-nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: red;
	z-index: 1000;
}

#main-nav a:not(#close-nav) {
	display: block;
	color: #00f;
	width: 100vw;
	height: 25vh;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 25vh;
	font-size: 80px;
}

#main-nav a:not(#close-nav):nth-child(2n) {
	background: rgb(200, 200, 200);
}

#main-nav a:not(#close-nav):nth-child(2n+1) {
	background: rgb(150, 150, 150);
}

#main-nav a:not(#close-nav):hover {
	color: #000;
	transition: color 0.3s ease-in-out; 
}

section {
	max-width: 640px;
	width: 100%;
	background: #eee;
	margin: 30px auto;
	padding: 15px;
	border-radius: 3px;
}

h2 {
	margin-top: 0px;
}

.section-header {
	position: relative;
	border: 1px solid #000;
}

.section-header p {
	margin: 16px;
}

.section-header a {
	position: absolute;
	top: 16px;
	right: 16px;
}

.section-content {
	overflow: hidden;
	border: 1px solid #000;
	border-top: none;
}

.section-wrapper {
	background: #fff;
}

pre {
	margin: 16px;
}

footer {
	text-align: center;
}